# PostgreSQL
DB_NAME=pgdev
DB_USER=stephg
DB_PASSWORD=change-me

# JWT
# Use a Base64-encoded secret for local development.
JWT_SECRET=generate-a-base64-encoded-secret
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000
