

.profile {

  background-color: var(--bg);

  .images{
    height: 300px;
    width: 100%;
    position: relative;

    .cover{
      height: 100%;
      width: 100%;
      object-fit: cover;

    }
    .profilePic{
      height: 200px;
      width: 200px;
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      top: 200px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2;
    }
  }

  .profileContainer{
      padding: 20px 70px;

      .uInfo{
        height: 180px;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        background-color: var(--bg);
        color: var(--text-color);
        padding: 30px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 20px;


        .left{
          flex: 1;
          display: flex;
          gap: 15px;
          color: var(--text-color);

          .post-count{
            display: flex;
            flex-direction: column;
          }
          .follower-count{
            display: flex;
            flex-direction: column;
          }
          .following-count{
            display: flex;
            flex-direction: column;
          }
        }
        .center{

          position: absolute;
          left: 50%;
          top: 70%;
          transform: translateX(-50%);

          button{
            border: none;
            background-color: #5271ff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        .right{
          flex:1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
        }
      }
    }
}