
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  background-color: var(--bg);
  color: var(--text-color);

  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    span{
      font-weight: bold;
      font-size: 20px;
      color: var(--logo);
    }

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid var(--border);
      border-radius: 5px;
      padding: 5px;

      input{
        border: none;
        width: 400px;
        background-color: transparent;
        color: var(--text-color);
      }
      input:focus {
        outline: none;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      span{}
    }
  }
}