@import "../../style.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid var(--border);
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: var(--bg);
  color: var(--text-color);

  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    span{
      font-weight: bold;
      font-size: 20px;
      color: var(--logo);
    }

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid var(--border);
      border-radius: 5px;
      padding: 5px;

      input{
        border: none;
        width: 400px;
        background-color: transparent;
        color: var(--text-color);

        @include mobile{
          display: none;
        }

      }
      input:focus {
        outline: none;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile{
      display: none;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      position: relative;

      .userMenu {
        position: absolute;

        display: flex;
        flex-direction: column;

        top: 40px;
        right: 0;

        background-color: var(--bg-soft);
        border-radius: 8px;
        padding: 8px;

        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        z-index: 9999;

        a{
        padding: 8px 12px;
        text-decoration: none;
        color: var(--text-color);
        border-radius: 6px;
        transition: background-color 0.15s ease, color 0.15s ease;
        &:hover {
          background-color: var(--bg);
        }
        }

      }

      img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      span{}
    }
  }
}